.index_banner{
    height:400px;
    background-color:rgb(24,181,196);
}

.index_banner .nav_left{
    width:190px;
    background: url("./images/nav_left_bg.png") no-repeat 0 0;
    background-color: rgb(24,24,24);
    height:400px;
    float:left;
}

.nav_left > a{
    color:#fff;
    display: block;
    padding: 5px 10px;
    font-size: 15px;
}

.nav_left > a:hover{
    background-color: #0078D8;
    color:#fff;
    padding-left: 30px;
}

.nav_left > a.current{
    background-color: #4a4a4a;
}

.index_banner .top_ten{
    float:right;
    width:200px;
    height: 400px;
    background-color: #fff;
}

.top_ten > .ttl{
    height:60px;
    background-color: #0078D8;
    color:#fff;
    font-size:18px;
    line-height: 60px;
    text-align: left;
    padding-left: 15px;

}

.icon_top{
    width:30px;
    height: 30px;
    background: url('./images/iconfont-paihangbang.png') no-repeat 0 0;
    background-size: cover;
    vertical-align: text-bottom !important;
}


.top_ten > .body{
    padding:0px 10px;
}

.top_ten > .body > a{
    display: block;
    border-bottom: 1px dashed #e8e8e8;
    padding:4px 0px;
    text-align: left;
}

.top_ten > .body > a > span{
    color:#0078d8;
    font-size:16px;
    float:left;
    margin-left: 15px;
    margin-right: 10px;
}

/*.top_ten > .body > a:hover{*/
    /*background: ;*/
/*}*/

.top_ten > .body > a:hover .zan_num{
    display: inline;
    transition:all 0.5s;
}

.top_ten > .body > a > .zan_num{
    display: none;
}

.zan_num > span.icon_star{
    width:15px;
    height: 15px;
}

.top_ten > .body > a.no1{
    overflow: hidden;
}

.top_ten > .body > a.no1 > img{
    float:left;
}

.top_ten > .body > a.no1 > .top_index{
    float:right;
    color:#0078d8;
    font-size:30px;
    width:30px;
    line-height: 50px;
}

.top_ten > .body > a.no1 > div.top_info{
    margin-left: 60px;
    text-align: left;
    margin-right: 30px;
}

.top_info > .top_ttl{
    font-size:15px;
}

.top_info > .top_author{
    /*font-size:14px;*/
    /*margin-top: 5px;*/
}

.top_info > .top_zan{
    /*margin-top: 5px;*/
    /*font-size:14px;*/
}

.icon_star{
    width:20px;
    height: 20px;
    background: url('./images/iconfont-xingxing.png') no-repeat 0 0;
    background-size: cover;
    vertical-align: text-bottom !important;
}

.index_banner .banner_img{
    margin:0px 200px 0px 190px;
    height: 400px;
    position: relative;
}

.banner_img > .banner_idt{
    display: none;
    width: 800px;
    height: 400px;
}

 .banner_idt >  img{
    display: block;
}

 .banner_ctrl{
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left: -80px;
}

.banner_ctrl > a{
    display: inline-block;
    background-color: #000;
    width:20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #aaa;
    color:#fff;
}

.banner_ctrl > a.current{
    background-color: #0078d8;
}

.show{
    display: block !important;
    transition:all 0.5s;
}


/*---------各个类别---------*/
.recommend_wrap{
    border:1px solid #aaa;
    background-color: #f5f5f5;
    padding-top: 15px;
}

.recommend_wrap > .flex_wrap{
    overflow:hidden;
}

.recommend_wrap .recommend_ttl{
    color:#7a7c80;
    text-align: left;
    font-size:30px;
    height: 40px;
    line-height: 40px;
}

.recommend_wrap  .recommend_novel_idt{
    /*border:1px solid #0078d8;*/
    width:216px;
    height: 280px;
    float:left;
    margin:10px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #aaa;
}

.recommend_novel_idt:hover{
    /*outline: 1px solid #0078d8;*/
    box-shadow: 0px 0px 5px #000;
    transition:all 0.5s;
}

.recommend_novel_idt  img{
    display: block;
    width:216px;
    height:220px;
}

.recommend_novel_idt > .novel_info{
}

.novel_info > div{
    margin:0px 10px;
    text-align: left;
}

.novel_info > div.novel_name{
    color:#666;
    font-size: 16px;
    padding:5px 0px;
}

.novel_info > div.novel_author{

}


.page_2{
}

.page_2 > a{
    display: inline-block;
    width: 20px;
    height: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 2px #aaa;
}

.page_2 > a.current{
    background-color: #0078d8;
}




/*---------------分类开始--------------------*/
.type_wrap{

}

.type_wrap .type_idt{
    border:1px solid #aaa;
    overflow: hidden;
}

.type_idt img{
    display: block;
}

.type_idt > .left_part{
    float:left;
    width:150px;
}

.type_idt > .right_part{
    float:right;
    width:740px;
}

.type_idt > .center_part{
    margin:0px 741px 0px 151px;
}


.left_part > .type_logo{
    background-color: #0078d8;
    height: 80px;
    font-size: 25px;
    color:#fff;
    line-height:80px;
}

.center_part{
    position: relative;
}

.center_part > .novel_description{
    position: absolute;
    width:220px;
    height: 80px;
    background-color: rgba(255,255,255,0.8);
    top:250px;
    left:50%;
    margin-left: -110px;
}


.right_part > .novel_idt{
    /*border:1px solid #aaa;*/
    float:left;
    width:25%;
    background-color: #e8e8e8;
    height: 220px;
    outline: 2px solid #fff;
}

.right_part > .novel_idt > img{

}

.idt_bottom {
    height: 150px !important;
}

.sx{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.sx_shu{
    background: url('./images/shu.png') no-repeat 0 0;
    background-size: cover;
}

.sx_niu{
    background: url('./images/niu.png') no-repeat 0 0;
    background-size: cover;
}
.sx_hu{
    background: url('./images/hu.png') no-repeat 0 0;
    background-size: cover;
}
.sx_tu{
    background: url('./images/tu.png') no-repeat 0 0;
    background-size: cover;
}

.sx_long{
    background: url('./images/long.png') no-repeat 0 0;
    background-size: cover;
}
.sx_she{
    background: url('./images/she.png') no-repeat 0 0;
    background-size: cover;
}
.sx_ma{
    background: url('./images/ma.png') no-repeat 0 0;
    background-size: cover;
}
.sx_yang{
    background: url('./images/yang.png') no-repeat 0 0;
    background-size: cover;
}
.sx_hou{
    background: url('./images/hou.png') no-repeat 0 0;
    background-size: cover;
}
.sx_ji{
    background: url('./images/ji.png') no-repeat 0 0;
    background-size: cover;
}
.sx_gou{
    background: url('./images/gou.png') no-repeat 0 0;
    background-size: cover;
}