<link href="/template/css/common.css" rel="stylesheet" media="screen">
<script src="/javascript/jquery-2.0.3.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascript/util.js"></script>

<script>
    $(function(){
        $(window).scroll(function(){
            if($(this).scrollTop() >= 200){
                $(".fixed_top").addClass('show');
            }
            else{
                $(".fixed_top").removeClass('show');
            }
        });
    });
</script>
<div class="fixed_top">
    <div class="flex_wrap">
        <div class="search_box">
            <form action="/search_novel" method="post" id="seach_form">
                <input type="text" placeholder="在这里搜索书籍" id="search_param" name="novel_name">
                <a class="search_btn" href="javascript:;">搜索</a>
            </form>
        </div>
        <script>
            $(function(){
                $('.search_btn').bind('click',function(){
                    $('#seach_form').submit();

                })
            });
        </script>
    </div>
</div><!--fixed_top-->

<header class="common_header">
    <div class="common_top">
        <div class="flex_wrap">
            <div class="top_lt f_lt">
                <% if(user){ %> 
                <div style="width:200px;overflow:hidden;text-overflow:ellipsis;height:100%;">
                    <%= user.username%>,欢迎来到
                </div>
                <div>
                    <a href="/author_center">个人中心</a>
                </div>
                <div>
                    <a href="/quit_log">注销登录</a>
                </div>
                <%}else {%>
                <div>
                    <a href="/login">请登录</a>
                </div>
                <div>
                    <a href="/reg">免费注册</a>
                </div>
                <%}%>
                <div class="c_fix"></div>
            </div>
            <div class="top_rt f_rt">

            </div>
            <div class="c_fix">
            </div>
        </div>
    </div><!--common_top-->
    <div class="common_search">
        <div class="flex_wrap">
            <div class="search_box">
                <form action="/search_novel" method="post" id="seach_form1">
                    <input type="text" placeholder="在这里搜索书籍" id="search_param1" name="novel_name">
                    <a class="search_btn" href="javascript:;">搜索</a>
                </form>
            </div>
            <script>
                $(function(){
                   $('.search_btn').bind('click',function(){
                       $('#seach_form1').submit();

                   })
                });
            </script>
            <dl class="hot_word">
                <dd><a href="#" class="hot">诛仙</a></dd>
                <dd><a href="#">遮天</a></dd>
                <dd><a href="#">完美世界</a></dd>
                <dd><a href="#">长生界</a></dd>
                <dd><a href="#" class="hot">星辰变</a></dd>
                <dd><a href="#">昆仑</a></dd>
            </dl>
        </div>
    </div>

    <nav class="total_nav">
        <div class="flex_wrap">
            <div class="all_kind f_lt"><span class="icon icon_kind"></span> 全部分类</div>
            <div class="f_lt nav_tab"><a href="/">读者专区</a></div>
            <div class="f_lt nav_tab"><a href="/">热门区</a></div>
            <div class="f_lt nav_tab"><a href="/author">作者专区</a></div>
        </div>
    </nav>


    <div class="right_toolbar">
        <a href="/reader_center?id=2" class="icon zan" traget="_blank">
            <span class="explain">我赞过的小说<b class="right_detla"></b></span>
        </a>
        <a href="/reader_center?id=3" class="icon shoucang" traget="_blank">
            <span class="explain">我收藏的小说<b class="right_detla"></b></span>
        </a>
        <a href="/lookReadRecord?id=1" class="icon record">
            <span class="explain">我的阅读记录<b class="right_detla"></b></span>
        </a>
        <a href="javascript:;" class="icon gotop" style="position:absolute;bottom:0px;right:0px;">
            <span class="explain">回到顶部<b class="right_detla"></b></span>
        </a>
    </div>
</header>

<script type="text/javascript">
    function scrollTop(){
        
        var $window = $(window);
        var currentOffset = $window.scrollTop();
        
        var timer = setInterval(function(){
            //alert(currentOffset);
            if(currentOffset <= 0){
                clearInterval(timer);
            }else{
                $window.scrollTop(currentOffset -= 20);
            }
            
        },10);
    }

    $(function(){
        $('.gotop').bind('click',scrollTop);
    })
</script>