<!doctype html>
<html>
 <head>
  <title>关于利趣</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/list_novel.css">
  <style type="text/css">
    .type_ttl{
      height:100px;
      margin-top:5px !important;
      background-size: !important;
      color:#fff;
      text-align: left;
      box-shadow: 2px 2px 5px #0078d8;
    }

    .type_ttl > .type_name{
      font-size: 30px;
      font-weight: bold;
      line-height: 60px;
      margin-left: 100px;
    }

    .type_ttl > .type_des{
      font-size: 18px;
      line-height: 25px;
      margin-left: 100px;
    }
  </style>
 </head>
 <body>
    <% include ../template/header.html %>
          <div class="flex_wrap type_ttl" style="background:url('<%= type.novel_type_bg_pic %>') no-repeat 0 0;background-size:100%;">
            <div class="type_name"><img src="<%= type.novel_type_pic %>"><%= type.novel_type_name %></div>
            <div class="type_des"><%= type.novel_type_description %></div>
          </div>

          <div class="container">
            <div class="flex_wrap" id="masonry">
              <div id="waterfall">
                  <%for(var i = 0;i< res.length;i++){%>
                  <div class="fiction_idt wfc wft">
                      <img width="100%" height="100%" src="<%= res[i].novel_pic %>" >
                      <div class="idt_info">
                          <span class="info_ttl"><span class="icon book_icon"></span> <%= res[i].novel_name %></span>
                          <span class="info_author"><span class="icon author_icon"></span> <%= res[i].novel_author_name %></span>
                      <span class="info_des">
                        <%= res[i].novel_description %>
                      </span>
                          <a href="novel_detail?_id=<%= res[i]._id %>" class="look_novel">去看看</a>
                      </div>
                  </div>
                  <%}%>
                <div class="c_fix"></div>
              </div>
            </div>
          </div>

    <% include ../template/footer.html %>
 </body>
</html>
