<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <link rel="stylesheet" href="/novel/add_novel/css/add_novel.css">
    <style>

    </style>
</head>
<body>
<% include ../../template/header.html %>
<script type="text/javascript" src="/javascript/jquery._upload.js"></script>
<div class="flex_wrap">
    <div class="add_ttl">
        <span class="icon add_novel_icon"></span> 新开小说
    </div>
    <div class="main_form">
    <form action="/addNovel"  method="post"  class="main_form1">
    <div class="form_item">
        <div class="form_label"><label>作品名称</label></div>
        <div class="form_cpt"><input type="text" name="novel_name"></div>
        <div class="c_fix"></div>
    </div>

    <!-- <div class="form_item">
        <div class="form_label"><label>作品首字母</label></div>
        <div class="form_cpt"><input type="text" name="novel_char"></div>
        <div class="c_fix"></div>
    </div> -->

    <div class="form_item">
        <div class="form_label"><label>作品类别</label></div>
        <div class="form_cpt">
            <select name="novel_type">
                <option value="玄幻">玄幻</option>
                <option value="奇幻">奇幻</option>
                <option value="武侠">武侠</option>
                <option value="仙侠">仙侠</option>
                <option value="都市">都市</option>
                <option value="职业">职业</option>
                <option value="历史">历史</option>
                <option value="军事">军事</option>
                <option value="游戏">游戏</option>
                <option value="竞技">竞技</option>
                <option value="科幻">科幻</option>
                <option value="灵异">灵异</option>
                <option value="同人">同人</option>
                <option value="潜力">潜力</option>
            </select>
        </div>
        <div class="c_fix"></div>
    </div>

     <div class="form_item">
        <div class="form_label"><label>作品标签</label></div>
        <div class="form_cpt">
            <div class="tag_factory">
                <div class="tag_wrap">
                    <div class="text_box">
                        <input type="text">
                    </div>
                    <a href="javascript:void(0)" class="tag_btn">添加标签</a>
                </div>
                <div class="tag_list">
                </div>
                <div class="tag_info"></div>
            </div><!--tag_factory-->

            <input type="hidden" name="novel_tags">
        </div>
        <div class="c_fix"></div>
    </div>

    <div class="form_item">
        <div class="form_label"><label>作品描述</label></div>
        <div class="form_cpt">
            <textarea class="form_description" style="height:100px;" name="novel_description"></textarea><br>
            <label class="count_words"><span class="word_num">0</span>个字</label>
        </div>
        <div class="c_fix"></div>
    </div>

    <div class="form_item">
        <div class="form_label"><label>作品章节(选段)</label></div>
        <div class="form_cpt">
            <textarea class="form_article" name="novel_content"></textarea><br>
            <label class="count_words"><span class="word_num">0</span>个字</label>
        </div>
        <script type="text/javascript">
             $(function(){
                    $('.form_article').change(function(evt){
                    var ori_text = $(this).val()+'\n';
                    $(this).val(ori_text.replace(/([^\n]+)\n/g,function(a,b){return '<p>'+b+'</p>';}));
                });
                });
        </script>
        <div class="c_fix"></div>
    </div>

    <div class="form_item">
        <div class="form_label"><label>作者协议</label></div>
        <div class="form_cpt"><input type="radio" value="同意"> 同意 <input type="radio" value="不同意"> 不同意 
            &nbsp;&nbsp;&nbsp;<a href="#" >作者协议</a>
        </div>
        <div class="c_fix"></div>
    </div>
    <input type="hidden" value="0" name="novel_zan_num">
    <input type="hidden" value="0" name="novel_collection_num">
    <input type="hidden" value="0" name="novel_chapter_num">
    <input type="hidden" value="0" name="novel_comment_num"> 
    <!-- <input type="hidden" value="/pic/novel_pic/dp.jpg" name="novel_pic"> -->
</form>

<form action="/upload_image" method="post" enctype="multipart/form-data" class="upload_form">
        <div class="form_item">
            <div class="form_label"><label>作品封面</label></div>
            <div class="form_cpt" style="position:relative;">
                <input type="file" name="novel_picx" id="input" style="opacity:0;">
                <div class="upload_instead" onclick="$('#input').trigger('click');">
                    <div class="fake_btn">上传图片</div>
                    <div class="fake_text"></div>
                </div>
            </div>
            <div class="pic_preview" id="img">
            </div>
            <div class="c_fix"></div>
        </div>
    </form>

     <div class="form_item" style="border:none;">
        <div class="form_label"></div>
        <div class="form_cpt"><button type="button" class="form_submit">确认提交</button></div>
        <div class="c_fix"></div>
    </div>
 </div>   
  <script type="text/javascript">
        $(function(){
            $('#input').uploadPreview({
                // scalingWidth : '150',
                // scalingHeight : '100',
                imgPreview : "#img",
                imgType : [ "bmp", "gif", "png", "jpg" ],
                callback : function() {
                }
            });

             $('#input').bind('change',function(){
                $('.fake_text').text($(this).val());
                //$("input[name='novel_pic']").val($('.fake_text').text());
                //alert($("input[name='novel_pic']").html());
                if($('input[name="novel_pic"]')){
                    $('input[name="novel_pic"]').remove();
                }
                var pic_name = $('.fake_text').text().split('\\');
                console.log(pic_name);
                 $('.main_form1').append("<input type='hidden' value=/pic/novel_pic/"+pic_name[pic_name.length-1]+" name='novel_pic'>");
            });
        });
    </script>
</div>
<script type="text/javascript">
        $(function(){
            $('.form_article').count_word();//统计字数
            $('.form_description').count_word();//统计字数
            $('.tag_factory').tag_factory('novel_tags');//标签插件
            $('.form_submit').bind('click',function(){
                $('.upload_form').submit();
                $.ajax({
                    url:'',
                    success:function(data){
                        $('.main_form1').submit();
                        alert(1);
                    },
                    error:function(error){
                        alert('error!');
                    }
                })
            });
        });
    </script>
<% include ../../template/footer.html %>
</body>
</html>