 .main_content{
      background-color: #f5f5f5;
      padding-top: 10px;
    }
    .r_ct_ttl{
      height: 200px;
      border:1px solid #e8e8e8;
      background-color: #fff;
    }

    .r_ct_ttl > .ttl_lft{
      float:left;
      width:250px;
      /*border-right:1px solid #aaa;*/
      height: 100%;
      text-align: right;
    }

    .r_ct_ttl > .ttl_lft > img{
      display: block;
      box-shadow: 0px 0px 5px #aaa;
      padding:5px;
      background-color: #fff;
      width:150px;
      height: 150px;
      margin:20px auto;
    }


    .r_ct_ttl > .ttl_rgt{
      margin-left: 250px;
      height: 100%;
      margin-right: 50px;
      position: relative;
    }

    .ttl_rgt > .rgt_top_pnl{
      height: 50px;
      width: 200px;
      position: absolute;
      right:0px;
      top:20px;

    }

    .rgt_top_pnl > a{
      display: inline-block;
      width:90px;
      height: 30px;
      background-color: #fff;
      color:#0078d8;
      font-size:20px;
      /*border:1px solid #0078d8;*/
      font-size:16px !important;
    }

    .rgt_top_pnl > a > span.icon{
      display: inline-block;
      width:30px;
      height: 30px;
      background-size: cover !important;
      vertical-align: text-bottom;
    }

    .rgt_top_pnl > a > span.zan{
      background: url('/stylesheets/images/iconfont-zan-b.png') no-repeat 0 0;
    }

    .rgt_top_pnl > a > span.focus{
      background: url('/stylesheets/images/iconfont-guanzhu.png') no-repeat 0 0;
    }

    .r_ct_ttl > .ttl_rgt > .ttl_rgt_top{
      height: 50%;
      border-bottom: 1px solid #0078d8;
      /*background-color: #e8e8e8;*/
    }


    .ttl_rgt_top > .host_name{
      font-size: 50px;
      color: #0078d8;
      text-align: left;
      line-height: 110px;
      padding-left: 50px;
    }

    .r_ct_ttl > .ttl_rgt > .ttl_rgt_bottom{
      height: 50%;
      /*background-color: #f5f5f5;*/
    }

    .ttl_rgt_bottom > .host_sign{
      text-align: left;
      background-color: #f5f5f5;
      width: 600px;
      margin-top: 15px;
      margin-left: 52px;
      font-size: 16px;
      color: #7a7c80;
      padding:5px 15px;
      border-left: 2px solid #0078d8;
      line-height: 30px;
      height: 60px;
    }

    

    .r_ct_bd{
      /*height: 400px;*/
      /*border:1px solid #e8e8e8;*/
      margin-top: 10px;
    }

    .r_ct_bd > .left_pt{
      float:left;
      /*border:1px solid #e8e8e8;*/
      width:900px;
      height: 100%;
    }

    .r_ct_bd > .right_pt{
      margin-left: 910px;
      height: 100%;
      /*border:1px solid #e8e8e8;*/
    }

    .left_operation{
      border:1px solid #e8e8e8;
      /*height: 600px;*/
      background-color: #fff;
    }

    .left_operation > .lft_opt_nav{
      background-color: #0078d8;
      /*overflow: hidden;*/
    }

    .left_operation > .lft_opt_nav > a{
      display: block;
      float: left;
      height: 40px;
      line-height: 40px;
      padding:0px 30px;
      color:#fff;
      font-size:16px;
      line-height: 40px;
    }

    .drop_down{
      display: inline-block;
      position: relative;
    }

    .drop_down > .icon_arrow_down{
      width:15px;
      height: 12px;
      background:url('/stylesheets/images/arrow_down_w.png') no-repeat 0 0;
      background-size: cover;

    }

     .drop_down > .drop_down_list{
      /*border:1px solid #aaa;*/
      width:100px;
      /*height: 200px;*/
      height: 0px;
      display: block;
      position: absolute;
      top:30px;
      left:-30px;
      z-index:9;
      background-color: #fff;
      color:#0078d8;
      font-size: 14px;
      overflow: hidden;
      box-shadow: 0px 0px 5px #aaa;
      border-left: 2px solid #0078d8;
      transition:height 0.5s;
     }

     .lft_opt_nav > a:hover div.drop_down_list{
      height: 100px;
      transition:height 0.5s;
     }

     .drop_down_list > label{
      width:100%;
      display: block;
      cursor:pointer;
     }
     .drop_down_list > label:hover{
      text-decoration: underline;
     }

    .left_operation > .lft_opt_nav > a.current,.left_operation > .lft_opt_nav > a:hover{
      /*background-color: #336699;*/
      border-top: 2px solid #0078d8;
      background-color: #fff;
      color:#0078d8;
    }

    .left_operation > .lft_opt_nav > a.current span.icon_arrow_down,.left_operation > .lft_opt_nav > a:hover span.icon_arrow_down{
      background-image: url('/stylesheets/images/arrow_down_b.png');
    }

    .left_operation > .lft_opt_nav > a:hover span.icon_arrow_down{
      transform:rotate(180deg);
      transition:all 0.5s;
    }

    .left_operation > .lft_opt_bd{
      /*background-color: #e8e8e8;*/
      /*height: 500px;*/
      padding-top: 15px;
    }

    .left_operation > .lft_opt_bd > .lft_opt_bd_pl{
      padding-bottom:50px;
    }

    .lft_opt_bd > .lft_opt_bd_pl > .novel_idt{
      /*border:1px solid #aaa;*/
      background-color: #0078d8;
      height: 200px;
      margin:15px 50px;
      position: relative;
      box-shadow: 0px 0px 5px #aaa;
      overflow:hidden;
    }

    .novel_idt > .info_pl{
      height: 100%;
      position: absolute;
      width:750px;
      background-color: #fff;
      left:0px;
      top:0px;
      transition:left 1s;
      box-shadow: 0px 0px 5px #aaa;
      font-size:14px;
    }

    .info_pl > .lft_pt{
      width:180px;
      height: 100%;
      float: left;
    }

    .info_pl > .rgt_pt{
      margin-left: 200px;
      color:#7a7c80;
      font-size:14px;
      height: 100%;
      padding-top: 10px;
    }

     .info_item{
      /*border:1px solid #aaa;*/
      padding:5px 0px;
      overflow: hidden;
    }

    .info_item > .item_item_sub{
      float:left;
      /*border:1px solid #aaa;*/
      width:200px;
      text-align: left;
    }

    .info_des_pl{
      background-color: #e8e8e8;
      color:#7a7c80;
      font-size:14px;
      margin-right: 20px;
      padding:5px;
      clear:both;
      margin-top:25px;
      text-align: left;
      text-indent: 2em;
      border-left: 2px solid #0078d8;
    }

    .toggle_slide{
      left:-150px !important;
      transition:left 1s;
    }


    .novel_idt > .novel_opt{
      float:right;
      height: 100%;
      overflow:hidden;
      width:200px;
    }

    .novel_opt > .lft_pt{
      width:150px;
      height: 100%;
      float:left;
      /*background-color:red;*/
      color:#fff;
    }

    .novel_opt > .lft_pt > a{
      display: inline-block;
      width: 120px;
      height: 30px;
      background-color: #fff;
      color:#0078d8;
      font-size:16px;
      line-height: 30px;
      margin: 10px;
    }

    .novel_opt > .lft_pt > a:hover{
      background-color: #336599;
      transition:all 0.5s;
      color:#fff;
    }

    .novel_opt > .rgt_pt{
      width:50px;
      height: 100%;
      float: right;
    }


    .novel_opt > .rgt_pt > a{
      height: 40px;
      width: 40px;
      display: inline-block;
      background: url('/stylesheets/images/iconfont-shezhi.png') no-repeat 0 0;
      background-size: cover;
      margin-top: 80px;
    }


    .host_weibo{
      height: 160px;
      border:1px solid #e8e8e8;
      background-color: #fff;
    }

    .recent_access{
      height: 400px;
      border:1px solid #e8e8e8;
      background-color: #fff;
      margin-top: 10px;
    }