<!doctype html>
<html>
 <head>
  <title>关于利趣</title>
  <link href="/author_center/css/author_center.css" rel="stylesheet">
  
 </head>
 <body>
    <% include ../template/header.html %>
      <script type="text/javascript" src="/reader_center/js/tpl.js"></script>
    <div class="main_content"> 
    <div class="flex_wrap">
      <div class="r_ct_ttl">
        <div class="ttl_lft">
          <img src="<%= user.pic %>">
        </div><!--ttl_lft-->
        <div class="ttl_rgt">
          <div class="ttl_rgt_top">
            <div class="host_name"><%= user.username %></div>
          </div><!--ttl_rgt_top-->
          <div class="ttl_rgt_bottom">
            <div class="host_sign">
              <%= user.sign %>
            </div>
          </div><!--ttl_rgt_bottom-->

        </div><!--ttl_rgt-->
      </div><!--r_ct_ttl-->

      <div class="r_ct_bd">
        <div class="left_pt">
          <div class="left_operation">
            <header class="lft_opt_nav">  
              <!-- <a href="javascript:;">个人资料
                 <div class="drop_down">
                  <span class="icon icon_arrow_down"></span>
                  <div class="drop_down_list">
                    <label href="#">修改资料</label>
                    <label href="#" onclick="">密码管理</label>
                    <label href="#">账号管理</label>
                  </div>
                </div>
              </a> -->
              <a href="javascript:;" onclick="get_Info()">个人信息</a>
              <a href="javascript:;" data-href="/getReadRecord?record_pageNum=1&record_pageSize=5" data-type="read" id="i_read">我读过的</a>
              <a href="javascript:;" data-href="/getZanRecord?record_pageNum=1&record_pageSize=5" data-type="zan" id="i_zan">我赞过的</a>
              <a href="javascript:;" data-href="/getCollectRecord?record_pageNum=1&record_pageSize=5" data-type="sc" id="i_collect">我收藏的</a>
              <a href="javascript:;" onclick="get_modify()">修改密码</a>
              <div class="c_fix"></div>
            </header><!--lft_opt_nav-->
            <div class="lft_opt_bd">
              <div class="lft_opt_bd_pl work_list">

              </div><!--lft_opt_bd_pl-->
            </div><!--lft_opt_bd-->
          </div><!--left_operation-->

        </div><!--left_pt-->
        <div class="right_pt">
          <div class="host_weibo">
            今天天气不错！
          </div><!--host_weibo-->
          <div class="recent_access">
            <div class="access_user">
              <div></div>
            </div>
          </div><!--recent_access-->
        </div><!--right_pt-->
        <div class="c_fix"></div>
      </div>
    </div>
  </div>

  <!--更改个人信息的脚本-->
  <script type="text/javascript">

  var get_modify =  function(){
    // $.ajax({
    //   url:'/reader_center/modify_pass.html',
    //   success:function(data){
    //     $('.work_list').html("").append(data);
    //   },error:function(er){
    //     alert("数据获取错误！");
    //   }
    // })
  $('.work_list').html("").append(golbal_var.modify_pass('<%= user.username %>','<%= user._id %>'));
  }
  var get_Info =  function () {
        $.ajax({
          url:'/get_user_info?_id=<%= user._id %>',
          success:function(data){
            // for(var i in data){
            //   alert(data[i]);
            // }
            var tpl = '<form action="/update_user" method="post"><div class="modify_info">'+
                    '<div class="form_item">'+
                    '<input name="_id" value="'+data._id+'" type="hidden">'+
                      '<div class="form_label"><label>用户头像</label></div>'+
                      '<div class="form_cpt"><img src="'+data.pic+'" width="60" height="60" style="  float:left;display: block;box-shadow: 0px 0px 5px #aaa;padding: 2px;background-color: #fff;">'+
                      '</div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>用户名</label></div>'+
                      '<div class="form_cpt"><input type="text" name="username" value='+data.username+' disabled></div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>个性签名</label></div>'+
                      '<div class="form_cpt"><textarea name="sign" style="height:80px;">'+data.sign+'</textarea></div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>出生年月</label></div>'+
                      '<div class="form_cpt">'+
                        '<input type="date" name="birthday" value="'+Date.format(data.birthday)+'" style="  width: 200px;height: 25px;border: 1px solid #0078d8;padding: 0px 5px;line-height: 25px;">'+
                      '</div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>注册时间</label></div>'+
                      '<div class="form_cpt"><input type="text" name="reg_date"value='+Date.format(data.reg_date)+' disabled></div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>经验</label></div>'+
                      '<div class="form_cpt"><input type="text" name="exp" value='+data.exp+' disabled></div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>等级</label></div>'+
                      '<div class="form_cpt"><input type="text" name="grade" value='+data.grade+' disabled></div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item">'+
                      '<div class="form_label"><label>个人信息</label></div>'+
                      '<div class="form_cpt"><textarea name="personal_info" style="height:80px;" value='+data.personal_info+'></textarea></div>'+
                      '<div class="c_fix"></div>'+
                    '</div><!--form_item-->'+

                    '<div class="form_item" style="border:none;">'+
                      '<div class="form_label"></div>'+
                      '<div class="form_cpt"><button type="submit" class="form_submit">确认提交</button></div>'+
                      '<div class="c_fix"></div>'+
                  '</div>'+
                  '</div></form>';
                   $('.work_list').html("").append(tpl);
            //alert(data);
          },
          error:function(err){
            alert('数据获取错误！');
          }
        });
      }
    // $(function(){

      
    // });

    // $(function(){
    //   var changePassword = function(){

    //   }
    // });
  </script>

  <!--收藏，点赞，阅读记录的脚本-->
  <script type="text/javascript">
     $(function(){
      var r_getData = function(url,type){
        $.ajax({
          url:url,
          success:function(data){
            var idt_tpl = "",pic_src,type_url;

            for(var i = 0;i<data.length;i++){
              pic_src = data[i].novel_pic || '/pic/novel_pic/dp.jpg';
              //alert(data[i].collect_id);
              type_url = (function(type){
                                if(type == "sc")
                                  return "<a href=\"/quitCollect?_id="+data[i].collect_id+"\">取消收藏</a>";
                                if(type == "zan")
                                  return "<a href=\"/quitZan?_id="+data[i].collect_id+"\">取消赞</a>";
                                if(type == "read")
                                  return "<a href=\"/quitRead?_id="+data[i].collect_id+"\">删除记录</a>";
                                else
                                  return "";
                              })(type);
             idt_tpl +="<div class=\"r_novel_idt\">"+
                  "<div class=\"info_pl\" style=\"height:230px;\">"+
                    "<div class=\"lft_pt\">"+
                      "<img alt='' src="+pic_src+" width=\"100%\" height=\"100%\" style=\"display:block\">"+
                    "</div>"+
                    "<div class=\"rgt_pt\" style=\"overflow:hidden;position:relative;\"> "+
                      "<div class=\"r_opt_time\">&nbsp;<br>"+Date.format(data[i].collect_time)+"</div>"+
                      "<div class=\"info_item\">"+
                        "<div class=\"item_item_sub\"><label>书名: </label>"+data[i].novel_name+"</div>"+
                        "<div class=\"item_item_sub\"><label>作者: </label>"+data[i].novel_author_name+"</div>"+
                      "</div><!--info_item-->"+
                      "<div class=\"info_item\">"+
                        "<div class=\"item_item_sub\">"+
                          "<label>开更日期: </label>2015-1-15"+
                        "</div> "+
                        "<div class=\"item_item_sub\">"+
                          "<label>完结日期: </label>2015-12-1"+
                        "</div> "+
                      "</div><!--info_item-->"+
                      "<div class=\"info_item\">"+
                        "<div class=\"item_item_sub\">"+
                          "<label>分类: </label>武侠"+
                        "</div>"+
                        "<div class=\"item_item_sub\"><label>标签: </label>热血 奋斗 励志</div>"+
                        "</div><!--info_item--> "+
                        "<div class=\"info_item\">"+
                          "<div class=\"item_item_sub\"><label>小说描述: </label>"+
                          "</div>"+
                          "<div class=\"info_des_pl\">"+data[i].novel_description+
                          "</div>"+
                          "<div class=\"r_btn_pl\" >"+
                            "<a href=\/read_chapter_page?indexx="+data[i].chapter_index+"&novel="+data[i]._id+">开始阅读</a>"+
                            type_url+
                          "</div>"+
                        "</div><!--info_item--> "+
                      "</div> "+
                    "</div>"+
                "</div><!--r_novel_idt-->";

               
              }
               $('.work_list').html("").append(idt_tpl);

          },
          error:function(error){
            alert('数据获取错误！');
          }
        })
      }

     // r_getData('/getCollectRecord?record_pageNum=2&record_pageSize=3');


      $('.lft_opt_nav > a').bind('click',function(e){
         $('.lft_opt_nav').children('a.current').removeClass('current');
         $(this).addClass('current');
         if($(this).text() == '我读过的' ||$(this).text() == '我赞过的' || $(this).text() == '我收藏的')
         r_getData($(this).data('href'),$(this).data('type'));
      });

      ;(function(global,$){
        var tab = window.location.search.split('=')[1] || undefined;
        if(!tab)
          return;
        $('.lft_opt_nav').children('a').eq(tab).trigger('click');
        //r_getData(tab);
      })(window,$);
     });
  </script>
    
    <% include ../template/footer.html %> 
 </body>
</html>
