<!doctype html>
<html>
 <head>
  <title>关于利趣</title>
  <link href="/author_center/css/author_center.css" rel="stylesheet">
 </head>
 <body>
    <% include ../template/header.html %>
    <div class="main_content"> 
    <div class="flex_wrap">
      <div class="r_ct_ttl">
        <div class="ttl_lft">
          <img src="<%= user.pic %>">
        </div><!--ttl_lft-->
        <div class="ttl_rgt">
          <div class="ttl_rgt_top">
            <div class="host_name"><%= user.username %></div>
          </div><!--ttl_rgt_top-->
          <div class="ttl_rgt_bottom">
            <div class="host_sign">
              今晚一更..
            </div>
          </div><!--ttl_rgt_bottom-->

        </div><!--ttl_rgt-->
      </div><!--r_ct_ttl-->

      <div class="r_ct_bd">
        <div class="left_pt">
          <div class="left_operation">
            <header class="lft_opt_nav">  
              <a href="javascript:;">个人资料
                 <div class="drop_down">
                  <span class="icon icon_arrow_down"></span>
                  <div class="drop_down_list">
                    <label href="#">修改资料</label>
                    <label href="#">密码管理</label>
                    <label href="#">账号管理</label>
                    <!-- <label href="#">修改资料</label> -->
                  </div><!--drop_down_list-->
                </div><!--drop_down-->
              </a>
              <a href="javascript:;" data-href="" id="i_read">我读过的</a>
              <a href="javascript:;" data-href="/getZanRecord?record_pageNum=2&record_pageSize=3" id="i_zan">我赞过的</a>
              <a href="javascript:;" data-href="/getCollectRecord?record_pageNum=2&record_pageSize=3" id="i_collect">我收藏的</a>
              <div class="c_fix"></div>
            </header><!--lft_opt_nav-->
            <div class="lft_opt_bd">
              <div class="lft_opt_bd_pl work_list">
              </div><!--lft_opt_bd_pl-->
            </div><!--lft_opt_bd-->
          </div><!--left_operation-->

        </div><!--left_pt-->
        <div class="right_pt">
          <div class="host_weibo">
            今天天气不错！
          </div><!--host_weibo-->
          <div class="recent_access">
            <div class="access_user">
              <div></div>
            </div>
          </div><!--recent_access-->
        </div><!--right_pt-->
        <div class="c_fix"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
     $(function(){
      var r_getData = function(url){
        $.ajax({
          url:url,
          success:function(data){
            var idt_tpl = "";
            for(var i = 0;i<data.length;i++){
              var pic_src = data[i].novel_pic || '/pic/novel_pic/dp.jpg';
             idt_tpl +="<div class=\"r_novel_idt\">"+
                  "<div class=\"info_pl\" style=\"height:230px;\">"+
                    "<div class=\"lft_pt\">"+
                      "<img alt='' src="+pic_src+" width=\"100%\" height=\"100%\" style=\"display:block\">"+
                    "</div>"+
                    "<div class=\"rgt_pt\" style=\"overflow:hidden;position:relative;\"> "+
                      "<div class=\"r_opt_time\">收藏于<br>2015-12-12 12:13</div>"+
                      "<div class=\"info_item\">"+
                        "<div class=\"item_item_sub\"><label>书名: </label>"+data[i].novel_name+"</div>"+
                        "<div class=\"item_item_sub\"><label>作者: </label>"+data[i].novel_author_name+"</div>"+
                      "</div><!--info_item-->"+
                      "<div class=\"info_item\">"+
                        "<div class=\"item_item_sub\">"+
                          "<label>开更日期: </label>2015-1-15"+
                        "</div> "+
                        "<div class=\"item_item_sub\">"+
                          "<label>完结日期: </label>2015-12-1"+
                        "</div> "+
                      "</div><!--info_item-->"+
                      "<div class=\"info_item\">"+
                        "<div class=\"item_item_sub\">"+
                          "<label>分类: </label>武侠"+
                        "</div>"+
                        "<div class=\"item_item_sub\"><label>标签: </label>热血 奋斗 励志</div>"+
                        "</div><!--info_item--> "+
                        "<div class=\"info_item\">"+
                          "<div class=\"item_item_sub\"><label>小说描述: </label>"+
                          "</div>"+
                          "<div class=\"info_des_pl\">"+data[i].novel_description+
                          "</div>"+
                          "<div class=\"r_btn_pl\" >"+
                            "<a href=\"/novel_detail?_id="+data[i]._id+"\">开始阅读</a>"+
                            "<a href=\"/quit_collect?_id="+data[i]._id+"\">取消收藏</a>"+
                          "</div>"+
                        "</div><!--info_item--> "+
                      "</div> "+
                    "</div>"+
                "</div><!--r_novel_idt-->";

               
              }
               $('.work_list').html("").append(idt_tpl);

          },
          error:function(error){
            alert('数据获取错误！');
          }
        })
      }

     // r_getData('/getCollectRecord?record_pageNum=2&record_pageSize=3');


      $('#i_zan,#i_collect,#i_read').bind('click',function(e){
         $('.lft_opt_nav').children('a.current').removeClass('current');
         $(this).addClass('current');
         r_getData($(this).data('href'));
      });

      ;(function(global,$){
        var tab = window.location.search.split('=')[1] || undefined;
        if(!tab)
          return;
        $('.lft_opt_nav').children('a').eq(tab).trigger('click');
        //r_getData(tab);
      })(window,$);
     });
  </script>
    
    <% include ../template/footer.html %> 
 </body>
</html>
