<!doctype html>
<html>
 <head>
  <title>关于利趣</title>
  <link href="/author_center/css/author_center.css" rel="stylesheet">
 </head>
 <body>
    <% include ../template/header.html %>
    <div class="main_content"> 
    <div class="flex_wrap">
      <div class="r_ct_ttl">
        <div class="ttl_lft">
          <img src="/images/zt.jpg">
        </div><!--ttl_lft-->
        <div class="ttl_rgt">
          <div class="rgt_top_pnl">
            <a href="javascript:;"><span class="icon zan"></span> 点赞</a>
            <a href="javascript:;"><span class="icon focus"></span> 关注</a>
          </div>
          <div class="ttl_rgt_top">
            <div class="host_name">辰东</div>
          </div><!--ttl_rgt_top-->
          <div class="ttl_rgt_bottom">
            <div class="host_sign">
              今晚一更..
            </div>
          </div><!--ttl_rgt_bottom-->

        </div><!--ttl_rgt-->
      </div><!--r_ct_ttl-->

      <div class="r_ct_bd">
        <div class="left_pt">
          <div class="left_operation">
            <header class="lft_opt_nav">  
              <a href="javascript:;" class="current">作品列表
                <div class="drop_down">
                  <span class="icon icon_arrow_down"></span>
                  <div class="drop_down_list">
                    <label data-href="/addNovel_page" class="fake_a">新开作品</label>
                  </div><!--drop_down_list-->
                </div><!--drop_down-->
              </a>
              <a href="javascript:;">个人资料
                 <div class="drop_down">
                  <span class="icon icon_arrow_down"></span>
                  <div class="drop_down_list">
                    <label href="#">修改资料</label>
                    <label href="#">密码管理</label>
                    <!-- <label href="#">修改资料</label> -->
                  </div><!--drop_down_list-->
                </div><!--drop_down-->
              </a>
              <a href="javascript:;">我的微博</a>
              <a href="javascript:;">我的动态</a>
              <a href="javascript:;">账号管理</a>
              <div class="c_fix"></div>
            </header><!--lft_opt_nav-->
            <div class="lft_opt_bd">
              <div class="lft_opt_bd_pl work_list">

                <div class="novel_idt">
                  <div class="info_pl">
                    <div class="lft_pt">
                      <img alt="" src="/images/zt.jpg" width="100%" height="100%" style="display:block"> 
                    </div>
                    <div class="rgt_pt">
                      <div class="info_item">
                        <div class="item_item_sub"><label>书名: </label>遮天</div>
                        <div class="item_item_sub"><label>作者: </label>辰东</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>开更日期: </label>2015-1-15</div>
                        <div class="item_item_sub"><label>完结日期: </label>2015-12-1</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>分类: </label>武侠仙侠</div>
                        <div class="item_item_sub"><label>标签: </label>热血 奋斗 励志</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>小说描述: </label></div>
                        <div class="info_des_pl">回家第三方会计电风扇的方式将快乐男宝宝很疯狂娄底市进口量的方式加快了第三方框架第三方地方上看见了第三款绝地逢生...</div>
                      </div><!--info_item-->
                    </div> 
                  </div><!--info_pl-->
                  <div class="novel_opt">
                    <div class="lft_pt">
                      <a href="javascript:;" style="margin-top:60px;">更新章节</a>
                      <a href="javascript:;">查看小说</a>
                    </div>
                    <div class="rgt_pt">
                      <a href="javascript:;" class="novel_config"></a>
                    </div>
                  </div><!--novel_opt-->
                </div><!--novel_idt-->

                  <div class="novel_idt">
                  <div class="info_pl">
                    <div class="lft_pt">
                      <img alt="" src="/images/zt.jpg" width="100%" height="100%" style="display:block"> 
                    </div>
                    <div class="rgt_pt">
                      <div class="info_item">
                        <div class="item_item_sub"><label>书名: </label>遮天</div>
                        <div class="item_item_sub"><label>作者: </label>辰东</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>开更日期: </label>2015-1-15</div>
                        <div class="item_item_sub"><label>完结日期: </label>2015-12-1</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>分类: </label>武侠仙侠</div>
                        <div class="item_item_sub"><label>标签: </label>热血 奋斗 励志</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>小说描述: </label></div>
                        <div class="info_des_pl">回家第三方会计电风扇的方式将快乐男宝宝很疯狂娄底市进口量的方式加快了第三方框架第三方地方上看见了第三款绝地逢生...</div>
                      </div><!--info_item-->
                    </div> 
                  </div><!--info_pl-->
                  <div class="novel_opt">
                    <div class="lft_pt">
                      <a href="/add_chapter_page" style="margin-top:60px;">更新章节</a>
                      <a href="/novel_detail?_id=54efdfcc4976b25016085ebb">查看小说</a>
                    </div>
                    <div class="rgt_pt">
                      <a href="javascript:;" class="novel_config"></a>
                    </div>
                  </div><!--novel_opt-->
                </div><!--novel_idt-->

                  <div class="novel_idt">
                  <div class="info_pl">
                    <div class="lft_pt">
                      <img alt="" src="/images/zt.jpg" width="100%" height="100%" style="display:block"> 
                    </div>
                    <div class="rgt_pt">
                      <div class="info_item">
                        <div class="item_item_sub"><label>书名: </label>遮天</div>
                        <div class="item_item_sub"><label>作者: </label>辰东</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>开更日期: </label>2015-1-15</div>
                        <div class="item_item_sub"><label>完结日期: </label>2015-12-1</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>分类: </label>武侠仙侠</div>
                        <div class="item_item_sub"><label>标签: </label>热血 奋斗 励志</div>
                      </div><!--info_item-->

                      <div class="info_item">
                        <div class="item_item_sub"><label>小说描述: </label></div>
                        <div class="info_des_pl">回家第三方会计电风扇的方式将快乐男宝宝很疯狂娄底市进口量的方式加快了第三方框架第三方地方上看见了第三款绝地逢生...</div>
                      </div><!--info_item-->
                    </div> 
                  </div><!--info_pl-->
                  <div class="novel_opt">
                    <div class="lft_pt">
                      <a href="javascript:;" style="margin-top:60px;">更新章节</a>
                      <a href="javascript:;">查看小说</a>
                    </div>
                    <div class="rgt_pt">
                      <a href="javascript:;" class="novel_config"></a>
                    </div>
                  </div><!--novel_opt-->
                </div><!--novel_idt-->

                <div class="page_ctrl">
                  <a href="javascript:;" class="prev_page"> &nbsp;</a>
                  <a href="javascript:;" class="current_page">1</a>
                  <a href="javascript:;">2</a>
                  <a href="javascript:;">3</a>
                  <a href="javascript:;" class="next_page"> &nbsp;</a>
                </div>
              </div><!--lft_opt_bd_pl-->
              <script type="text/javascript">
                $(function(){
                  $('.novel_config').bind('click',function(){
                    $(this).parent().parent().parent().find('.info_pl').toggleClass('toggle_slide');
                  })
                });
              </script>
            </div><!--lft_opt_bd-->
          </div><!--left_operation-->

        </div><!--left_pt-->
        <div class="right_pt">
          <div class="host_weibo">
            今天天气不错！
          </div><!--host_weibo-->
          <div class="recent_access">
            <div class="access_user">
              <div></div>
            </div>
          </div><!--recent_access-->
        </div><!--right_pt-->
        <div class="c_fix"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
     $(function(){
      $('.fake_a').bind('click',function(){
        window.location = $(this).data('href');
      });
     });
  </script>
    
    <% include ../template/footer.html %>
 </body>
</html>
