<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <script src="javascript/jquery-2.0.3.js"></script>
    <script>
        $(function(){
            $("#username").bind("focus",function(){
                $(".user_info").text("");
            });
            $("#username").bind('blur',function(){
                var $info = $(".user_info");
                var that = $(this);
                $.ajax({
                    url:'/check_exist',
                    data:{'username':that.val()},
                    success:function(data){
                        //alert(data.code);
                        if(data.code == 1){
                            $info.text('该用户名已经存在');
                        }else{
                            $info.text('该用户名可以使用');
                        }
                    },
                    error:function(xhr){
                        alert('网络错误！'+xhr.readyState);
                    }
                });
            });
        });
    </script>
</head>
<body>
<form action = "/regnow" method="post" class="reg_form">
    <!--username <input type="text" name="username" id="username"> <span class="user_info"></span><br>-->
    <!--password <input type="password" name="password"><br>-->
    <!--repeat password <input type="password"><br>-->
    <!--<input type="submit" value="register">-->
    <label>用户名</label><input type="text" name="username" data-valid-type="email" data-valid-success="输入正确" data-valid-faild="输入错误"><span class="valid_info"></span>
    <!--<label>验证码</label><input type="text" name="validate_code" clas="vd_code" data-valid-type="code" data-valid-success="输入正确" data-valid-faild="输入错误"><span class="valid_info"></span>-->
    <label>密码</label><input type="password" name="password" class="psw"  data-valid-type="password" data-valid-success="输入正确" data-valid-faild="输入错误"><span class="valid_info"></span>
    <label>确认密码</label><input type="password" data-valid-type="psw_same" data-valid-success="输入正确" data-valid-faild="输入错误"><span class="valid_info" ></span>
    <button type="button">下一步</button>
</form>
<script>


    //----------------半成品表单验证，有时间再来完善-------------------------
    ;(function(){
        $.fn.formvalid = function(){
            var form = $(this);//全局表单对象
            var form_item= form.children('input');//表单字段列表

            var valid_rule = {//字段的验证规则正则表达式
              email:/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/,
              validate_code:/^\w{6}$/,
              password:/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,22}$/
            };

            var valid_fn = {//验证函数
              v_email : function(val){
                  return valid_rule.email.test(val);
            },
              v_password:function(val){
                  return valid_rule.password.test(val);
            },
              v_code:function(val){
                  return valid_rule.validate_code.test(val);
             },
              v_psw_same:function(val1){
                  alert($('.psw').val());
                  return val1 == $('.psw').val();
              }
            };
           // var temp = {};
            var v_result = [];//存储验证结果

            $('button[type="button"]',form).bind('click',function(e){
                form_item.each(function(){//验证函数
                    var v_type = $(this).data('validType');
                    var v_val  = $(this).val();
//                    alert("valid_fn.v_"+v_type+"("+v_val+")");
                    v_result.push(eval("valid_fn.v_"+v_type+"('"+v_val+"')"));
                });
                var flag = true;
                for(var i = 0;i < v_result.length;i++ ){
                    var item_obj = form_item.eq(i);
                    var success_info =  item_obj.data('validSuccess');
                    var faild_info =  item_obj.data('validFaild');
                    alert(v_result[i]);
                    if(v_result[i]){
                        item_obj.next('span.valid_info').text(success_info).css('color','green');
                    }else{
                        item_obj.next('span.valid_info').text(faild_info).css('color','red');
                        flag = false;
                    }
                }

                //flag?form.submit(): e.preventDefault();
            });
        }
    })();

    $(function(){
        $('.reg_form').formvalid();
    });

    //----------------半成品表单验证，有时间再来完善-------------------------
</script>
</body>
</html>