<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>网站后台</title>
	<link rel="stylesheet" type="text/css" href="/template/css/common.css">
	<link rel="stylesheet" type="text/css" href="./css/admin.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tips.css">
	<script type="text/javascript" src="/javascript/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/javascript/util.js"></script>
	<script type="text/javascript" src="/javascript/jquery.tips.js"></script>
	<script type="text/javascript" src="/javascript/jquery.formFill.js"></script>
	<script type="text/javascript" src="/admin/js/modal_ad.js"></script>
</head>
<body>
	<script type="text/javascript">
		;(function(global,$){
			$.fn.routes = function(){
				var that = this;
				var tab_list  = that.find('a');
				var init =  function(){
					tab_list.bind('click',function(evt){
						$('.current',that).removeClass("current");
						$(this).addClass('current');
						$.ajax({
							url:$(this).data('url'),
							success:function(data){
								$('#main_pl').html(data);
							},
							error:function(error){
								alert('数据获取错误！');
							}
						});
					});
				}

				return this.each(function(){
						init();
					});
			}
		})(window,$);
		;(function(global,$){
			$.getRecord = function(config){
				var that = this;
				var d_config = {
					'url':'',
					'pageSize':15,
					'currentPage':1,
					'callback':function(data){
						alert('回调函数未指定！');
					}
				};

				config = $.extend({},d_config,config);//合并参数

				$.ajax({
					url:config.url+"?pageSize="+config.pageSize+"&currentPage="+config.currentPage,
					success:config.callback,
					error:function(err){
						alert('数据获取错误！');
					}
				})
			};
		})(window,$);

		$(function(){
			$('#left_bar').routes();
			//$.tips(undefined).show();
		});
	</script>
	<div class="a_top">
		<div class="left_logo">
			xx网站后台
		</div>
		<a href="/" class="a_tab">回首页</a>
		<!-- <div class="right_info">
			 
		</div> -->
	</div>
	<div class="a_left" id="left_bar">
		<a href="javascript:void(0)" class="item current" data-url='/admin/content/author_apply_content.html'>
			作者申请
		</a>
		<a href="javascript:void(0)" class="item" data-url='/admin/content/novel_apply_content.html'>
			新作品申请
		</a>
		<a href="javascript:void(0)" class="item" data-url='/admin/content/main_ad_content.html'>
			首焦管理
		</a>
		<a href="javascript:void(0)" class="item" data-url='/admin/content/main_recommend_ad_content.html'>
			推荐管理
		</a>
		<!-- <a href="javascript:void(0)" class="item" data-url='/admin/content/type_recommend_ad_content.html'>
			分类推荐
		</a> -->
		<a href="javascript:void(0)" class="item" data-url='/admin/content/type_control_content.html'>
			分类管理 
		</a>
		<!-- <a href="javascript:void(0)" class="item">
			权限管理
		</a>
		<a href="javascript:void(0)" class="item">
			账号管理
		</a>
		<a href="javascript:void(0)" class="item">
			留言管理
		</a> -->

	</div>
	<div class="a_main" id="main_pl">

	</div><!--a_main
-->
	<div class="a_footer">
		406862700@qq.com 联系我
	</div>
</body>
</html>