
    <div class="page">
     <p>　　山脉中太危险，离开柳木守护的村子，外面将是一个完全不同的世界，那里充满了恐怖的猛禽与巨兽。</p>
     <p>　　就这样，村中最强壮的一批人背着巨弓、带着阔剑出发了，走进了山川大泽间，顿时一股大荒气息迎面扑来。</p>
     <!--<p>　　目送狩猎队伍离去，老族长石云峰领着一群孩子来到村头的草地上，盘坐下来，道：“好了，你们这群皮猴子也该用功学习了。”</p>-->
     <!--<p>　　一群孩子顿时愁眉苦脸，一个个没精打采，不情不愿的围坐在了四周，像是晒蔫了的叶子一般。</p>-->
     <!--<p>　　“族长爷爷，那些鸟文龟字像鬼怪符一样复杂，实在难学，用心记它做什么？”</p>-->
     <!--<p>　　“就是啊，还不如阿爸教我的箭法有用呢！”</p>-->
     <!--<p>　　一群孩子全都是苦瓜脸，很抵触。</p>-->
     <!--<p>　　“你们这群娃子真不晓事理，骨文是强横的太古遗种天生显化在骨骼上的符号，蕴含了神秘莫测的力量，多少人想学都没有门路。一旦学有所成，不知会比你们的父辈强大多少倍。”老族长恨铁不成钢，数落他们。</p>-->
     <!--<p>　　“族长爷爷，你为我们演示一下骨文的力量吧。”有一个稍大些的孩子说道。</p>-->
     <!--<p>　　“小不点过来。”族长冲着远处喊道。</p>-->
     <!--<p>　　小不点追完五色雀后正在卖力拉扯一条大黄狗的尾巴，闻言迷糊的转头，松开手后屁颠屁颠的跑了过来，眨动着明亮的大眼，道：“咿呀咿呀，族长爷爷什么事呀？”</p>-->
     <!--<p>　　“将我教你的那个骨文使用出来。”石云峰道。</p>-->
     <!--<p>　　“好呀。”小不点很听话，伸出两只小手，闭上嘴巴，浑身不断用力，憋的小脸都红扑扑了。</p>-->
     <!--<p>　　“嗡”的一声，他的手心出现一块光亮，浮现出一个奇怪的文字，像是以金属浇铸而成，拥有一种金属光泽与质感，很快另一只手也出现了。</p>-->
     <!--<p>　　小不点上前走了两步，将一块比他还高的青石抱了起来。</p>-->
     <!--<p>　　“真厉害！”一群孩子惊呼，那才是一个一岁多的小家伙，怎么能搬起这样一块不小的石头？</p>-->
     <!--<p>　　“小不点你将吃奶的力气都用出来了吧？”大孩子逗他。</p>-->
     <!--<p>　　“咿呀，是的，力气都用光了。”小不点扔下青石，一屁股坐在了地上，没心没肺的笑着，很纯净，而手心的符文则迅速暗淡、消失。</p>-->
     <!--<p>　　“族长爷爷，这就是你十几年来研究的神秘骨文力量？”一群孩子双眼放光，与不久前兴趣缺缺的样子截然不同。</p>-->
     <!--<p>　　“别兴奋，这些只能引你们上路而已，比古代传说中出现的天骨文还差的远。”老人点了点头，又摇了摇头。</p>-->
     <!--<p>　　“族长爷爷给我们讲一讲外面的世界吧。”一群孩子露出希冀之色。</p>-->

   </div>